body {
    background-color: linen;
}

html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container {
	margin: 0;
	padding: 0;
}

.base {
	width: 1200;
	height: 800;
	display:block;
	z-index: -1;
}

.overlay {
	background-color: transparent;
	color: #fff;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
}

h1 {
    color: navy;
    margin-left: 20px;
}
