.users_new span {
    width: 50%;
    display: inline-flex;
    text-align: center;
}

.users_new span p {
    width: 100%;
    margin: 2px 0;
}

.users_new .table_row {
    border-bottom: 1px solid;
}

#program {
    width: 100%;
    height: 250px;
}

textarea#preview {
    width: 100%;
    height: 250px;
}

.users_new {
    border: 1px solid;
    border-bottom: 0px;
    position: absolute;
    width: 19%;
    right: 0;
}

.row {
    position: relative;
    display: flex;
}

.preview_label{
    display: -webkit-box;
}

div#accordion.panel-group{
    width: 80%;
}

div.col-md-4{
    width: 40%;
}