.row span {
    width: 30%;
    display: inline-flex;
    text-align: center;
}

.edit-block {
    position: absolute;
    top: 0;
    right: 150px;
    display: grid;
}

.edit-block #select_by_mask:hover {
    background-color: #e6e6e6;
}

.edit-block #select_by_mask {
    border: 1px solid #000000;
    color: #333;
    cursor: pointer;
    width: 200px;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 0px 7px;
}

.edit-block #reset_password:hover {
    background-color: #90CA91;
}

.edit-block #reset_password {
    border: 1px solid #000000;
    color: #333;
    cursor: pointer;
    width: 200px;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 0px 7px;
    background: #4cc73d;
    margin-bottom: 5px;
}

.table_row.table-header span.last-seen p {
    width: 72%;
}

.table_row.table-header span p {
    position: absolute !important;
    top: 0;
    width: 50%;
}

.edit-block label {
    position: absolute;
    left: 7px;
    top: 103px;
    color: #c7c2c2;
}

.edit-block #delete_users:hover {
    background: #d1360c;
}

.edit-block #delete_users {
    background: #F41;
    width: 200px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
    /*background-image: url(/static/images/delete_simple_button2.png);*/
}

.row .select-input {
    width: 10%;
}

.row .last-seen {
    width: 50%;
}

.row .select-input.content {
    padding-left: 20px;
}

.row span p {
    width: 100%;
    margin: 2px 0;
}

.row .table_row {
    /*left: 0px;*/
    border: 1px solid #e7e7e7;
}

.row {
    left: 10px !important;
}

.table_row img {
    width: 40px;
    margin-left: 8px;
}

.table_row input {
    cursor: pointer;
}

.row {
    border: 1px solid #e7e7e7;
    border-bottom: 0px;
    position: absolute;
    left: 30%;
    width: 65%;
}

.row {
    position: relative;
}