#refresh {
    width: 500px;
}

.admin-navbar {
    position: fixed;
    height: auto;
    width: 270px;
    background-color: #f8f8f8;
    border: 2px solid #e7e7e7;
}

.admin-navbar div {
    height: 40px;
    text-align: center;
    padding: 10px 5px 5px 0px;
    border-bottom: 1px solid #e7e7e7;
}

.admin-navbar div.last-point {
    border: 0px;
}

.main-content {
    display: inline-flex;
}

.container {
    left: 280px !important;
}

.main-content .container {
    /*height: 2000px;*/
    position: absolute;
    left: 270px;
    width: 79%;
}
