{#{% extends "base.html" %}#}
{% extends "admin_base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
    {{ super() }}
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/admin/register.css') }}">-->
{% endblock %}


{% block app_content %}
    {% block leftNavBar %}
    {% endblock %}
    <h1 id="gen_info">Происходит генерация вариантов.</h1>
    <h2 id="counter">Количество созданных вариантов: 0 шт.</h2>
    <p>Для продолжения работы выберете требуемый пункт в меню слева.</p>
    {% for num in var_num %}
    <script>
        $("#counter").text("Количество созданных вариантов: {{ num }} шт.")
    </script>
    {% endfor %}
    <script>
        $("#gen_info").text("Генерация вариантов завершена успешно.")
    </script>
{% endblock %}