{#{% extends "base.html" %}#}
{% extends "admin_base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
    {{ super() }}
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/admin/register.css') }}">-->
{% endblock %}


{% block app_content %}
    {% block leftNavBar %}
    {% endblock %}
    <h1>Добро пожаловать в панель администратора!</h1>
    <h3>Для продолжения работы выберете требуемый пункт в меню слева.</h3>
    <p>"Добавить новых участников" - настройка параметров для добавления пользователей.</p>
    <p>"Создание вариантов" - генерация вариантов.</p>
    <p>"Просмотр вариантов" - просмотр параметров, с которыми были созданы варианты и удаление вариантов.</p>
    <p>"Пользователи" - восстановление паролей пользователей и удаление учётных записей.</p>
    <p>"Управление отчётами" - позволяет проверять отправленные отчёты, комментировать их и выставлять оценки.</p>
    <p>"Управление группами пользователей" - создание групп, а также добавление и удаление из них пользователей.</p>
{% endblock %}
