{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h1>Пользователь: {{ user.username }}</h1>
                {% if user == current_user %}
                    <!-- Здесь будет отображаться инструкция, что делать -->
                    <p>
                        Добро пожаловать в систему Algoload! Работа с системой производится в 2 этапа.
                        Пройдя по ссылке "Загрузить задание", можно загрузить в систему файл с формальным описанием
                        информационного графа нужного алгоритма в одном из поддерживаемых форматов.
                        По ссылке "Просмотр результата" доступна визуализация последнего загруженного графа.
                        Если никакой граф алгоритма ещё не загружался в систему, то там будет находиться тестовый пример.
                        К загружаемому файлу можно написать сопроводительный комментарий.
                    </p>
                    <p><a href="{{ url_for('main.upload_task') }}">Загрузить задание</a></p>
                    <p><a href="{{ url_for('main.receive_task', username=user.username, graph_name=graph_name)}}">Просмотр результата</a></p>
                    <p><a href="{{ url_for('main.upload_report', username=user.username)}}">Просмотреть отчеты</a></p>
                    <p><a href="{{ url_for('main.download_var', username=user.username) }}">Просмотреть задания</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}